// Custom styles.
// 网站背景（自适应）
body {
    background:url('https://api.uixsj.cn/bing/bing.php');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    /*这是设置底部文字, 看个人需要修改*/
     #footer > div > div {
        color:#eee;
    }
}

.hitokoto {
  padding : 10px;
}
